body {
    background-image: url(../images/background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.span-name {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}